# tools
/z_tools/*
!/z_tools/haribote
!/z_tools/qemu

# build results
*.bim
*.bin
*.gas
*.hrb
*.img
*.lst
*.map
*.nas
*.obj
*.sys
!/src/asmhead.nas
!/src/ipl10.nas
!/src/naskfunc.nas

# backup files
*~
